#secnav table {
    padding: 5px 15px;

    td {
        font-weight: 300;
        text-align: right;

        &:first-child {
            font-weight: bold;
            text-align: initial;
        }
    }
}

.graphicheader .header-image {
    width: 950px;
    height: 100px;
    background: url('./assets/DSHeader.svg');
}

/* Fix VU template responsiveness overflow */
@media only screen and (max-width: 768px) {
    html,
    body {
        overflow-x: hidden;
    }

    .graphicheader .header-image {
        display: none;
    }
}

/* Less ugly VUSE logo */
.englogo h1 a {
    background: url('./assets/ENGIN-logo.svg') no-repeat !important;
}

#vubrandbar {
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}
