#secnav table {
    padding: 5px 15px;
}

#secnav table td:first-child {
    font-weight: bold;
    text-align: initial;
}

#secnav table td {
    font-weight: 300;
    text-align: right;
}

.graphicheader img {
    width: 950px;
    height: 100px;
}

/* Fix VU template responsiveness overflow */
@media only screen and (max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }
}
