.livetextheader {
    margin: auto !important;
}

.livetextheader .header-image {
    display: inherit !important;
}

.header-background {
    background: none !important;
    margin-bottom: 0px !important;
    top: 0px !important;
    position: unset !important;
}

.vu-main-content {
    padding-top: 0em !important;
}

/* Email obfuscation */
.obfus-text {
    unicode-bidi: bidi-override;
    direction: rtl;
    user-select: none;
    font-weight: bold;
}

/* Fix VU template responsiveness overflow */
@media only screen and (max-width: 768px) {
    html,
    body {
        overflow-x: hidden;
    }

    .graphicheader .header-image {
        display: none;
    }
}

/* Hide recent news showing in the right column despite not being selected in theme customization */
.sidebar-news {
    display: none;
}

/* Less ugly VUSE logo */
.englogo h1 a {
    background: url('../assets/ENGIN-logo.svg') no-repeat !important;
}

#vubrandbar {
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

/* Get rid of ugly youtube video they plaster all over the bottom */
.vu-footer__map {
    display: none !important;
}

/* Get rid of ExploreVU dropdown & Search bar */
.vu-toolbar {
    display: none !important;
}

/* Get rid of footer (Your Vanderblit, Quick Links) */
#vu-footer {
    .container {
        display: none !important;
    }
}

/* Fix the hours sidebar widget wrapping the time ranges when the screen size is in this range */
@media (min-width: 768px) and (max-width: 979px) {
    .col-sm-3 {
        width: calc(100% / 3) !important;
    }

    .col-sm-9 {
        width: calc(100% / 3 * 2) !important;
    }
}

.status-sign {
    width: 100%;
    border: none;
}

.hours {
    width: 100%;
    margin: 10px 0;

    td:first-child {
        font-weight: bold;
    }

    td:last-child {
        text-align: right;
    }
}

.printer-status {
    margin: 10px 15px;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    place-content: space-evenly center;
    .tile {
        position: relative;
        flex-basis: 200px;
        .printer {
            max-width: 100%;
            filter: opacity(50%);
        }
        .detail {
            text-align: center;
            text-shadow: white 1px 1px;
            background-image: linear-gradient(
                    to bottom,
                    rgba(255, 255, 255, 0.6) 0%,
                    rgba(255, 255, 255, 0.1) 100%
                ),
                url('../assets/ultimaker-3-1@3x.png');
            background-size: cover;
            height: 215px;

            .name {
                margin-top: 0em !important;
                margin-bottom: 0em !important;
                padding: 0px !important;
                background: none !important;
                border: none !important;
                color: black !important;
            }
            .time {
                color: black !important;
                font-weight: bold;
            }
            .status {
                color: black !important;
                margin-top: 0em !important;
                margin-bottom: 0em !important;
            }
            .camera {
                max-width: 120px;
                margin: 0 auto;
            }
            .camera > a > img {
                max-width: 120px;
            }

            /** Thanks to Gregory Schier for the lightbox CSS below https://codepen.io/gschier/pen/HCoqh **/
            /** LIGHTBOX MARKUP **/

            .lightbox {
                /** Default lightbox to hidden */
                display: none;

                /** Position and style */
                position: fixed;
                z-index: 999;
                width: 100%;
                height: 100%;
                text-align: center;
                background: rgba(0, 0, 0, 0.8);
                top: 0;
                left: 0;
            }

            .lightbox img {
                /** Pad the lightbox image */
                max-width: 90%;
                max-height: 80%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .lightbox:target {
                /** Remove default browser outline */
                outline: none;

                /** Unhide lightbox **/
                display: block;
            }
        }
    }
}
