#secnav table {
    padding: 5px 15px;

    td {
        font-weight: 300;
        text-align: right;

        &:first-child {
            font-weight: bold;
            text-align: initial;
        }
    }
}

.graphicheader .header-image {
    width: 950px;
    height: 100px;
    background: url('../assets/DSHeader.svg');
}

/* Email obfuscation */
.obfus-text {
    unicode-bidi: bidi-override;
    direction: rtl;
    user-select: none;
    font-weight: bold;
}

/* Fix VU template responsiveness overflow */
@media only screen and (max-width: 768px) {
    html,
    body {
        overflow-x: hidden;
    }

    .graphicheader .header-image {
        display: none;
    }
}

/* Less ugly VUSE logo */
.englogo h1 a {
    background: url('../assets/ENGIN-logo.svg') no-repeat !important;
}

#vubrandbar {
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

.status-sign {
    color: #fff;
    margin: 10px 15px;
    padding: 5px;
    height: 108px;
    position: relative;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;

    .sign-text {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .title {
        font-size: 1.33em;
    }

    .subtitle {
        font-size: 0.85em;
    }
}

.printer-status {
    margin: 10px 15px;
    padding: 5px;
    display: flex;
    flex-flow: column;
    place-content: start center;
    .tile {
        position: relative;
        margin-bottom: 1em;
        .printer {
            max-width: 100%;
            filter: opacity(50%);
        }
        .detail {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%);
            text-align: center;
        }
        .name {
            margin-bottom: 0em;
        }
        .time {
            font-weight: bold;
        }
        .status {
        }
    }
    :last-child {
        margin-bottom: 0em;
    }
}
