#secnav table {
    padding: 5px 15px;

    td {
        font-weight: 300;
        text-align: right;

        &:first-child {
            font-weight: bold;
            text-align: initial;
        }
    }
}

.graphicheader img {
    width: 950px;
    height: 100px;
}

/* Fix VU template responsiveness overflow */
@media only screen and (max-width: 768px) {
    html,
    body {
        overflow-x: hidden;
    }
}

/* Less ugly VUSE logo */
.englogo h1 a {
    background: url('ENGIN-logo.svg') no-repeat !important;
}
